<!DOCTYPE html>
<html>
<head>
    <!--  <title>@ViewBag.Amazing Suite Rome</title> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amazing Suite Rome</title>

    <meta name="description" content="Situato a 100 metri dal Colosseo e a vicino a Via Cavour, Amazing Suite Rome offre alloggi a ristorazione indipendente con connessione WiFi gratuita, climatizzazione, TV a schermo piatto.">
    <meta name="keywords" content="Amazing Suite Rome Roma, Amazing Suite Vittoriano Roma, Amazing Suite Colosseo Roma, Hotel Amazing Suite Roma, appartamento centro storico roma, casa vacanze roma centro,suite roma, relais di lusso roma">
    <meta name="Author" content="EasyConsulting S.r.l.">
    <meta name="robots" content="NOODP">

    <meta http-equiv="Content-Language" content="it">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/png/logo_amazingsuiterome.png">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link href="/css/stylepage.css" rel="stylesheet" type="text/css">
    <link href="/css/loadpopup.css" rel="stylesheet" type="text/css">
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="/css/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/css/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/css/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/css/plugins/animate.css" rel="stylesheet" type="text/css">

    <!-- jquery-ui CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.css">

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Retina.js - Load first for faster HQ mobile images. -->
    <script src="/js/plugins/retina/retina.min.js"></script>
</head>
<body id="page-top" onload="inizializzaMappa();">
    <style>
        .button {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #ff9700;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

            .button:hover {
                background-color: #3e8e41;
            }

            .button:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

        .icone {
            background-color: #ff9700;
            color: whitesmoke;
        }
    </style>
    <div class="container-fluid">
        <!-- HEADER -->
        <nav class="navbar navbar-fixed-top" id="menu" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Espandi barra di navigazione</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-sm-12 col-md-push-1 col-md-9 nav navbar-nav">
                <div class="row collapse navbar-collapse navbar-ex1-collapse">
                    
                    <ul>
                        <li><img src="~/img/png/logo_amazingsuiterome-bianco.png" alt="logo amazing suite rome" class="logo"></li>
                        <li>
                            <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Apartments&Suites
                                <span class="caret"></span>
                            </button>
                            <ul style="background-color:#333333" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" href="#" title="Amazing Suite Rome - Colosseo" target="_blank">Amazing Suite Colosseo</a></li>
                                <li role="presentation"><a role="menuitem" href="#"title="Amazing Suite Rome - Vittoriano" target="_blank">Amazing Suite Vittoriano</a></li>
                                <li role="presentation"><a role="menuitem" href="#"title="Amazing Suote Rome - Navona" target="_blank">Amazing Suite Navona</a></li>
                                <li role="presentation" class="divider"></li>
                              
                            </ul>
                        </li>
                       <li> @Html.ActionLink("Navona", "Navona")</li>
                        <li></li>
                        <li><a href="/vittoriano/" ></a></li>
                        <li><a href="/navona/index.php" ></a></li>
                        <li><a href="#footer" title="Contatti"> <!--onclick="loadPopup(1);-->CONTATTI</a></li>
                    </ul>
                </div>
            </div>
            <!--
                <ul class="col-sm-12 col-md-2" id="lingue">
                    <li><a href="/">IT</a></li>
                    <li class="slash">-</li>
                    <li><a href="en/">EN</a></li>
                </ul>
            -->


        </nav>
    </div>
    @RenderBody()

   
   
    <div class="row" id="footer">
        
        <div class="col-sm-12">
            <ul class="list-inline">
                <li><a href="https://www.facebook.com/AmazingColosseoHiTech/?fref=ts" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                <li><a href="https://twitter.com/AColosseum" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
                <li><a href="https://twitter.com/AColosseum" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a></li>
                <li><a href="https://twitter.com/AColosseum" target="_blank"><i class="fa fa-whatsapp fa-fw fa-2x"></i></a></li>

            </ul>
        </div>
        

        <div style="background-color:#ff9700" class="col-md-6">Contattaci</div>
      <div  class="col-sm-6 clearfix"><img style="max-height:100px"  src="~/img/png/logo_amazingsuiterome-bianco.png" /></div>
        <br />
        <div class="form-horizontal row col-sm-6">
            
            
            <div>
                <div class="col-sm-6">

                    <div class="col-sm-6">
                        <p> Nome e Cognome</p>
                    </div>
                    <div class="col-sm-6">
                        <input style="color:black" type="text" id="nomecognome" class="form-group" />
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-6">
                        <p> Email</p>
                    </div>
                    <div class="col-sm-6">
                        <input style="color:black" type="text" name="email" id="email" class="form-group" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <p> Data </p>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" style="color:black" id="checkin" class="form-group" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <p> Numero delle notti</p>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="notti" style="color:black" class="form-group" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <p> Posti </p>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="posti" style="color:black" class="form-group" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="button">
                    <a href="https://www.facebook.com/codecademy">Inviaci una richiesta<span>!</span></a>
                </div>
           
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div id="contatti" class="col-sm-push-1 col-sm-10">
            <div class="col-sm-4 wow fadeInUp">
                <p>
                    Amazing Suite S.r.l.<br>
                    Via via Cesare Battisti, 127<br>
                    00184 – Roma<br>
                </p>
            </div>
            <div class="col-sm-4 wow fadeInUp">
                <p>
                    Mail: <a href="mailto:info@amazingsuiterome.com">info@amazingsuiterome.com</a><br>
                    Tel. +39 3383067149<br>
                    Tel. +39 3923858839
                    
                </p>
            </div>
            <div class="col-sm-4 wow fadeInUp">
                <p>
                    Pec: <a href="mailto:amazingsuitesrl@legalmail.it">amazingsuitesrl@legalmail.it</a><br>
                    P.IVA 13622691007<br>
                    Numero REA RM – 1461405
                </p>
            </div>
        </div>
        <div class="col-sm-12 privacy">
            <a href="colosseo/privacy.html" target="_blank">PRIVACY</a>
        </div>
        <div class="col-sm-12">
            <p class="small text-center">&copy;<a> <i class="fa fa-arrow-left fa-2x"></i></a></p>
        </div>
    </div>
</body>
</html>
<!-- Core Scripts -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap/bootstrap.min.js"></script>

<script src="~/js/loadpopup.js" type="text/javascript"></script>
<script src="~/js/plugins/jquery.easing.min.js"></script>
<script src="~/js/plugins/classie.js"></script>

<!-- Utilizzato per la barra del menu fissa -->
<script src="~/js/plugins/cbpAnimatedHeader.js"></script>

<!-- Utilizzato per le slide in carousel -->
<script src="~/js/plugins/owl-carousel/owl.carousel.js"></script>

<!-- Utilizzati per la sezione della gallery -->
<script src="~/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="~/js/plugins/background/core.js"></script>
<script src="/js/plugins/background/background.js"></script>
<script src="/js/plugins/jquery.mixitup.js"></script>
<!-- Jquery ui-->
<script src="~/js/jquery-ui.min.js"></script>

<!-- Mobile -->
<script src="~/js/jquery.mobile.custom.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#villa").mouseenter(function () { $("#villa .mask").fadeIn(200); }).mouseleave(function () { $("#villa .mask").fadeOut(100); });
        $("#spa").mouseenter(function () { $("#spa .mask").fadeIn(200); }).mouseleave(function () { $("#spa .mask").fadeOut(100); });
        $("#villanav").mouseenter(function () { $("#villanav .mask").fadeIn(200); }).mouseleave(function () { $("#villanav .mask").fadeOut(100); });
   
    });
</script>
<script>
    $(document).ready(function(){
        $('#carousel-1, #carousel-2').carousel({
            interval: false
        });
	function myFunction()
     {
         alert('h');
         document.location.href = "mailto:matteo.ponzetta@gmail.com?subject=richiesta di prenotazione&body=Salve richiedo informazioni sulla prenotazione della camera"+document.title+" mi chiamo:"+document.getElementById("nomecognome").value+" la mia mail:"+document.getElementById("email").value+" data di check-in:"+document.getElementById("checkin").value+" numero di notti: "+document.getElementById("notti").value+" numero di persone:"+document.getElementById("posti").value;
     }

</script>
<!-- Theme Scripts
<script src="/js/functions.js"></script> -->
<script src="/js/ilgruppo.js"></script>

<script src="/js/wow/wow.min.js"></script>

<!--------------------script googleMaps------------------------ -->
<script src="http://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
<script src="/js/mappagoogle.js" type="text/javascript"></script>

<!--Inizio Codice ShinyStat -->
<script type="text/javascript">$(document).ready(function () { $("#shinystat img").attr("alt", "shinystat"); });</script>
<div id="shinystat" style="display:none">
    <script type="text/javascript" src="http://codiceisp.shinystat.com/cgi-bin/getcod.cgi?USER=amazing295&P=4"></script>
    <noscript><a href="http://www.shinystat.com/it" target="_top" rel="nofollow"><img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=amazing295&P=4" alt="shinystat" /></a></noscript>
</div>