

    
    <!-- SLIDESHOW -->
    
    <div id="carousel-1" class="row carousel slide wow fadeIn" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img src="img/jpg/colosseo-slide.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="colosseo/nuovohome.php" title="Amazing Suite Rome - Colosseo" target="_blank"><h4>Amazing Suite Colosseo</h4>
                    <p>La tua casa al centro di Roma</p></a>
                </div>
            </div>
            <div class="item">
                <img src="img/jpg/vittoriano.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="vittoriano/" title="Amazing Suite Rome - Vittoriano" target="_blank"><h4>Amazing suite Vittoriano</h4>
                    <p>Comfort di lusso per il tuo soggiorno</p></a>  
                 </div>        
            </div>
            <div class="item">
                <img src="img/jpg/colosseo2.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="colosseo/" title="Amazing Suite Rome - Colosseo" target="_blank"><h4>Amazing Suite Colosseo</h4>
                    <p>Un affaccio esclusivo sul Colosseo</p></a>
                    </div>        
            </div>
            <div class="item">
                <img src="img/jpg/vittoriano2.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="vittoriano/" title="Amazing Suite Rome - Vittoriano" target="_blank"><h4>Amazing suite Vittoriano</h4>
                    <p>Vivi tutto il fascino di Roma</p></a>    

                    </div>        
            </div>
            <div class="item">
                <img src="img/jpg/colosseo3.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="colosseo/" title="Amazing Suite Rome - Colosseo" target="_blank"><h4>Amazing Suite Colosseo</h4>
                    <p>Una sala cinema a tua disposizione...</p></a>

               </div>        
            </div>
            <div class="item">
                <img src="img/jpg/vittoriano3.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="vittoriano/" title="Amazing Suite Rome - Vittoriano" target="_blank"><h4>Amazing suite Vittoriano</h4>
                    <p>Suite di 60 metri quadrati rifinita in ogni dettaglio</p></a>   

               </div>        
            </div>
            <div class="item">
                <img src="img/jpg/vittoriano5.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="vittoriano/" title="Amazing Suite Rome - Colosseo" target="_blank"><h4>Amazing Suite Colosseo</h4>
                    <p>Scopri tutti i servizi a te dedicati</p></a>

               </div>        
            </div>
            <div class="item">
                <img src="img/jpg/vittoriano6.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="vittoriano/" title="Amazing Suite Rome - Vittoriano" target="_blank"><h4>Amazing suite Vittoriano</h4>
                    <p>Location perfetta per scoprire Roma</p></a>  

                </div>        
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left fa-2x" ></i>

        </a>
        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
            <i class="fa fa-arrow-right fa-2x" ></i>

        </a>
    </div>
    
    <!-- IL GRUPPO -->
    <div class="row wow fadeIn ilgruppo">
        <div class="col-sm-push-1 col-sm-10">
            <div class="col-sm-12">
          </div>    
        </div>
    </div>
    <div class="row wow fadeIn">
        <div class="col-sm-push-1 col-sm-10">
            <div class="col-sm-6">
                <div class="col-sm-12 struttura">
                    <a href="colosseo/nuovohome.php" target="_blank" id="villa">
                        <img src="img/jpg/slide_2.jpg" class="img-responsive" alt="">
                        <div class="mask">
                            <img src="img/png/amazing-colosseo.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 struttura">
                    <h4>Amazing Suite Colosseo</h4>
                    <p>Prestigioso appartamento con vista incantevole sul Colosseo e Palatino. Esclusivo, elegante, finemente arredato con ogni comfort per un soggiorno indimenticabile.</p>
                </div>    
            </div>
            
            <div class="col-sm-6">
                <div class="col-sm-12 struttura">
                    <a href="vittoriano/" target="_blank" id="spa">
                        <img src="img/jpg/slide_3.jpg" class="img-responsive" alt="">
                        <div class="mask">
                            <img src="img/png/amazing-vittoriano.png" class="img-responsive" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 struttura">
                    <h4>AMAZING SUITE VITTORIANO</h4>
                    <p>Perla unica nel cuore della città  eterna, alle porte del foro romano, dove si può sentire il fascino di Roma, una suite di 60 metri quadrati, 
                    rifinita in ogni dettaglio. Si trova in un edificio esclusivo con accesso diretto dalla magnifica Piazza Venezia.</p>
                </div>    
            </div>

       </div>    
    </div>
    <div class="row wow fadeIn">
        <div class="col-sm-push-1 col-sm-10">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="col-sm-12 struttura">
                    <a href="navona/index.php" target="_blank" id="villanav">
                        <img src="img/jpg/navona-min.jpg" class="img-responsive" alt="">
                        <div class="mask">
                            <img src="~/img/png/amazing-colosseo.png" class="img-responsive" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 struttura colorTitle">
                    <h4>AMAZING SUITE NAVONA</h4>
                    <p>Prestigioso appartamento a Piazza Navona. Esclusivo, elegante, finemente arredato con ogni comfort per un soggiorno indimenticabile.</p>
                </div>    
            </div>
            
            <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>
       </div>    
    </div>
    <!-- CONTATTI -->
    
    <!-- MAPPA -->
    <div class="row wow fadeIn" id="contact">
        <div class="col-sm-push-1 col-sm-10" id="mappa">
	    <div class="row">
		
		<div class="col-sm-12 struttura">
		    <h4 style="color:#000;font-size:2em;">Dove siamo</h4>
		</div>
		
		<div class="col-sm-12 col-md-12 contenitore-mappa">
		    <div id="aprimappa" onclick="inizializzaMappa();"></div>
		    <div class="mappa">
			<div id="map_canvas"></div>
		    </div>
		</div>

	    </div>
        </div>    
    </div>
    
    <!-- FOOTER -->
  
    
    


    <!--Fine Codice ShinyStat-->
