
<div class="container-fluid">

    <!-- HEADER -->
    <nav class="navbar navbar-fixed-top" id="menu" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Espandi barra di navigazione</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            	<span class="icon-bar"></span>
				</button>
        </div>
  
        <div class="row collapse navbar-collapse navbar-ex1-collapse" >
            <ul class="col-sm-12 col-md-push-1 col-md-9 nav navbar-nav">
                <li><img src="/img/png/logo_amazingsuiterome-bianco.png" alt="logo amazing suite rome" class="logo"></li>
                <li><a href="/colosseo/nuovohome.php" title="Amazing Suite Rome - Colosseo" target="_blank">Amazing Suite Colosseo</a></li>
                <li><a href="/vittoriano/" title="Amazing Suite Rome - Vittoriano" target="_blank">Amazing Suite Vittoriano</a></li>
                <li><a href="#" title="Amazing Suite Rome - Navona" target="_blank">Amazing Suite Navona</a></li>
				<li><a href="#footer" title="Contatti" data-toggle="collapse" data-target=".navbar-collapse.in">CONTATTI</a></li>
            </ul>
	    <!--
            <ul class="col-sm-12 col-md-2" id="lingue">
                <li><a href="/">IT</a></li>
                <li class="slash">-</li>
                <li><a href="en/">EN</a></li>
            </ul>
	    -->
        </div>
    </nav>
  <!--MODALE -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="background:url(/img/jpg/colosseo.jpg); background-repeat: no-repeat; background-size:inherit; color:white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:#DAA520" class="modal-title">Richiedi la tua suite</h4>
        </div>
        <div class="modal-body">
   
		<div class="form-group row">
		<div  class="col-sm-6">		 
    <p> Nome e Cognome</p>
    <input style="color:black" type="text" id="nomecognome" class="form-horizontal"/>
				 </div>
				 <div  class="col-sm-6">
				 <p> Email </p>
				 <input style="color:black" type="text" name="email" id="email" class="form-horizontal"/>
				 </div>
				<div  class="col-sm-6">		 
    <p> Data </p>
    <input type="text" style="color:black" id="checkin" class="form-horizontal"/>
				 </div>
				 	<div  class="col-sm-6">		 
    <p> Numero delle notti</p>
    <input type="text" id="notti" style="color:black" class="form-horizontal"/>
				 </div>
				 <div  class="col-sm-6">
				 <p> Posti </p>
				 <input type="text" id="posti" style="color:black" class="form-horizontal"/>
				 </div>
				 <hr>
				 <div class="col-sm-12">
					 <p>Richieste Aggiuntive</p>
			 <div class="col-sm-6">
    <p for="servizi" style="font-size:10px">Servizi :Babysitting
Transfer
Cooking day
Chef service
Rental e-bike
Vatican tour
Colosseo e Fori Imperiali tour
Galleria borghese tour
Personal shopper
Parking a disposizione
Private Sightseeing tour
Dog-sitting
Personal trainer</p>
  </div>
				<div class="col-sm-6">
				 <textarea class="form-control" id="servizi" rows="3"></textarea></div> </div>
  </div>
		
	 <!--	<a class="btn btn-default"  href="mailto:gabrio89@hotmail.it">Invio Email</a><br>-->
		 <button class="btn btn-default" name="prenota" onclick="myFunction()" id="prenota">Prenota Ora</button>
			</div>
		
	   
			
			
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div></div>
      </div>
	


    <!-- SLIDESHOW -->
    
    <div id="carousel-1" class="row carousel slide wow fadeIn" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img src="/img/jpg/navona/navona-min.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona"><h4>Amazing Suite Navona</h4>
                    <p>La tua casa al centro di Roma</p></a>
                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/good.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Vittoriano"><h4>Amazing suite Navona</h4>
                    <p>Comfort di lusso per il tuo soggiorno</p></a>  
                 </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonacamera.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Colosseo" ><h4>Amazing Suite Navona</h4>
                    <p>a Piazza Navona</p></a>
                    </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Vittoriano" ><h4>Amazing suite Navona</h4>
                    <p>Vivi tutto il fascino di Roma</p></a>    

                    </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonasala.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome"><h4>Amazing Suite Navona</h4>
                    <p>Una sala cinema a tua disposizione...</p></a>

               </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonavista.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona"><h4>Amazing suite Navona</h4>
                    <p>Suite di 60 metri quadrati rifinita in ogni dettaglio</p></a>   

               </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona"><h4>Amazing Suite Navona</h4>
                    <p>Scopri tutti i servizi a te dedicati</p></a>

               </div>        
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonabagno.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome" ><h4>Amazing suite NAvona</h4>
                    <p>Location perfetta per scoprire Roma</p></a>  

                </div>        
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    
    <!-- IL GRUPPO--> 
    <div class="row wow fadeIn ilgruppo">
        <div class="col-sm-push-1 col-sm-10">
            <div class="col-sm-12">
          </div>    
        </div>
    </div>
    <div class="row wow fadeIn">
        <div class="col-sm-push-1 col-sm-10">
            <div class="col-md-6 col-sm-6">
                <div class="col-sm-12 struttura">
                    <h4 id="annuncio">AMAZING SUITE NAVONA</h4>
					<div>Siamo lieti di accogliervi presso Amazing Suite Navona, a pochi metri a piedi dalla famosa Piazza Navona, Pantheon e si affaccia su Campo de 'Fiori il più antico mercato di Roma. E' un piacere informarvi sui servizi attualmente attivi che stiamo fornendo al fine di rendere il vostro soggiorno indimenticabile: La prima colazione continentale a buffet inclusa nel vostro soggiorno servita dal nostro personale, minibar, aria condizionata regolabile autonomamente, riscaldamento e tv satellitare.</div>
                </div>    
            </div>
            <div class="col-md-6 col-sm-6">
           	
               <div class="col-sm-12 struttura">
				   
				<img data-toggle="modal" data-target="#myModal" src="http://www.amazingsuiterome.com/img/png/prenota.PNG" width="250">
						 
					<!--	<img onclick="loadPopup(14)" src="http://www.amazingsuiterome.com/vittoriano/data/png/premium-amazing-ita.png" width="250">
						  <!-- Trigger the modal with a button -->
				</div>
       </div>    
    </div>
	</div>
    <!-- CONTATTI -->
        <!-- Large modal -->



    <!-- MAPPA
	<div class="container row clear-fix clear-top">
    <div class="row wow fadeIn" id="contact">
        <div class="col-sm-push-1 col-sm-10" id="mappa">
	    <div class="row">
		
		<div class="col-sm-12 struttura">
		    <h4 style="color:#000;font-size:2em;">Dove siamo</h4>
		</div>
		
		<div class="col-sm-12 col-md-12 contenitore-mappa">
		    <div id="aprimappa" onclick="inizializzaMappa();"></div>
		    <div class="mappa">
			<div id="map_canvas"></div>
		    </div>
		</div>

	    </div>
        </div>    
    </div>
	</div>
		 -->
    <!-- FOOTER -->
   
    <!-- -->
    <div id="areaPopUp1" class="areaPopUp menuAreaPopUp">
	<article id="boxPopUp" class="boxPopUp">
	    <div class="areaTestoPopUp">
		<div class="contenutoScrollP" tabindex="1" style="overflow: hidden; outline: none;">
		    <h2 class="titolo-popup">I NOSTRI CONTATTI</h2>
		    <p>
			Amazing Suite S.r.l.<br>
			Via Natale del Grande, 51<br>
			00153 – Roma<br><br>

			Mail: <a href="mailto:info@amazingsuiterome.com">info@amazingsuiterome.com</a><br>
			Tel. +39 3923858839<br>
			Tel. +39 3383067149<br><br>

			Pec: <a href="mailto:amazingsuitesrl@legalmail.it">amazingsuitesrl@legalmail.it</a><br>
			P.IVA 13622691007<br>
			Numero REA RM – 1461405
		    </p>
		</div>
	    </div>
	    <div id="chiudiBoxPopUp" class="chiudiPopup">
		<img onclick="chiudiPopup(1)" src="http://www.amazingsuiterome.com/vittoriano/templates/template_3/img/png/close-box.png">
	    </div>
	</article>
    </div>
	    <div id="areaPopUp14" class="areaPopUp menuAreaPopUp">
	<article id="boxPopUp" class="boxPopUp">
	    <div class="areaTestoPopUp">
		<div class="contenutoScrollP" tabindex="1" style="overflow: hidden; outline: none;">
		    <h3 >Richiedi la tua suite</h3>
		     <div class="form-group row">
		<div  class="col-sm-6">		 
    <p> Nome e Cognome</p>
    <input type="text" class="form-horizontal"/>
				 </div>
				 <div  class="col-sm-6">
				 <p> Email </p>
				 <input id="email" type="text" class="form-horizontal"/>
				 </div>
				<div  class="col-sm-6">		 
    <p> Data </p>
    <input type="text" class="form-horizontal"/>
				 </div>
				 <div  class="col-sm-6">
				 <p> Data </p>
				 <input type="text" class="form-horizontal"/>
				 </div>
				 <hr>
				 <div class="col-sm-12">
					 <p>Richieste Aggiuntive</p>
			 <div class="col-sm-6">
    <p for="exampleTextarea" style="font-size:10px">Servizi :Babysitting
Transfer
Cooking day
Chef service
Rental e-bike
Vatican tour
Colosseo e Fori Imperiali tour
Galleria borghese tour
Personal shopper
Parking a disposizione
Private Sightseeing tour
Dog-sitting
Personal trainer</p>
  </div>
				<div class="col-sm-6">
				 <textarea class="form-control" id="exampleTextarea" rows="3"></textarea></div> </div>
  </div>
		
		</div>
	    </div>
			<button class="col-sm-offset-3 col-sm-3">Prenota Ora</button>
		  <div id="chiudiBoxPopUp" class="chiudiPopup">
		<img onclick="chiudiPopup(14)" src="http://www.amazingsuiterome.com/vittoriano/templates/template_3/img/png/close-box.png">
	    </div>
	</article>
		
    </div>
</div>
    <script>
	function myFunction()
     {
         alert('h');
         document.location.href = "mailto:matteo.ponzetta@gmail.com?subject=richiesta di prenotazione&body=Salve richiedo informazioni sulla prenotazione della camera"+document.title+" mi chiamo:"+document.getElementById("nomecognome").value+" la mia mail:"+document.getElementById("email").value+" data di check-in:"+document.getElementById("checkin").value+" numero di notti: "+document.getElementById("notti").value+" numero di persone:"+document.getElementById("posti").value;
     }

	</script>
    <!-- Core Scripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    
    <script src="/js/loadpopup.js" type="text/javascript"></script>

   <!-- <script src="/js/plugins/jquery.easing.min.js"></script>-->
    <script src="/js/plugins/classie.js"></script>
    
    <!-- Utilizzato per la barra del menu fissa -->
    <script src="/js/plugins/cbpAnimatedHeader.js"></script>
    
    <!-- Utilizzato per le slide in carousel -->
    <script src="/js/plugins/owl-carousel/owl.carousel.js"></script>
    
    <!-- Utilizzati per la sezione della gallery -->
    <script src="/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins/background/core.js"></script>
    <script src="/js/plugins/background/background.js"></script>
    <script src="/js/plugins/jquery.mixitup.js"></script>

    <!-- Jquery ui
    <script src="/js/jquery-ui.min.js"></script>
    -->
    <!-- Mobile 
    <script src="/js/jquery.mobile.custom.min.js"></script>
    -->
    <script type="text/javascript">
	$(document).ready(function() {  
	$(".carousel").swipe({

  swipe: function(event, direction, distance, duration, fingerCount, fingerData) {

    if (direction == 'left') $(this).carousel('next');
    if (direction == 'right') $(this).carousel('prev');

  },
  allowPageScroll:"vertical"

});
	  /*  $("#carousel-1").swiperight(function() {  
		$(this).carousel('prev');  
	    });  
	    $("#carousel-1").swipeleft(function() {  
		$(this).carousel('next');  
	    });         

	    $("#carousel-2").swiperight(function() {  
		$(this).carousel('prev');  
	    });  
	    $("#carousel-2").swipeleft(function() {  
		$(this).carousel('next');  
	    });  
*/

});

    </script>
    
    <!-- Theme Scripts -->
    <script src="/js/wow/wow.min.js"></script>
  <!--  <script src="/js/functions.js"></script>
    <script src="/js/ilgruppo.js"></script>-->
    
    <!--------------------script googleMaps------------------------ -->
    <script src="http://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
    <script src="/js/mappagoogle.js" type="text/javascript"></script>