<!-- SLIDESHOW -->

    <div id="carousel-1" class="row carousel slide wow fadeIn" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/jpg/navona/navonabeds.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p></p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                    <div class="clearfix"></div>
                    <br />
                </div>


            </div>

            <div class="item">
                <img src="~/img/jpg/navona/navonaangolo.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p></p>
                    </a>
                                        <a href="#contatti" class="btn  button" role="button">Book Now</a>
                    <div class="clearfix"></div>
                    <br />
                </div>


            </div>
            <div class="item">
                <img src="/img/jpg/navona/navona-min.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p>La tua casa al centro di Roma</p>
                    </a>
                                        <a href="#contatti" class="btn  button" role="button">Book Now</a>
                    <div class="clearfix"></div>
                    <br />
                </div>


            </div>
            <div class="item">
                <img src="/img/jpg/navona/good.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Vittoriano">
                        <h4>Amazing suite Navona</h4>
                        <p>Comfort di lusso per il tuo soggiorno</p>
                    </a>                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonacamera.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Colosseo">
                        <h4>Amazing Suite Navona</h4>
                        <p>a Piazza Navona</p>
                    </a>                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Vittoriano">
                        <h4>Amazing suite Navona</h4>
                        <p>Vivi tutto il fascino di Roma</p>
                    </a><a href="#contatti" class="btn  button" role="button">Book Now</a>

                </div>
            </div>
            <div class="item">
                <img src="~/img/jpg/navona/foschianavona.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p></p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonasala.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome">
                        <h4>Amazing Suite Navona</h4>
                        <p>Una sala cinema a tua disposizione...</p>
                    </a>                   <a href="#contatti" class="btn  button" role="button">Book Now</a>

                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonavista.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing suite Navona</h4>
                        <p>Suite di 60 metri quadrati rifinita in ogni dettaglio</p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                </div>
            </div>
            <div class="item">
                <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p>Scopri tutti i servizi a te dedicati</p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                </div>
            </div>

            <div class="item">
                <img src="/img/jpg/navona/navonabagno.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome">
                        <h4>Amazing suite Navona</h4>
                        <p>Location perfetta per scoprire Roma</p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                </div>
            </div>
            <div class="item">
                <img src="~/img/jpg/navona/navonabed.jpg" alt="">
                <div class="col-sm-push-1 col-sm-10">
                    <a href="#" title="Amazing Suite Rome - Navona">
                        <h4>Amazing Suite Navona</h4>
                        <p></p>
                    </a>
                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
                 
                    <br />
                </div>


            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>

        </a>
        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>

        </a>
   
</div>
<hr />
<!--ICONE piccole sotto carosello-->
<div class="row wow fadeIn">
    <div class="col-sm-push-3 col-sm-10">
        <div class="col-sm-1">
            <a><i class="fa fa-bed"> 8</i></a>
        </div>
        <div class="col-sm-1">
            <a><i class="fa fa-wifi"></i></a>
        </div>
        <div class="col-sm-1">
            <a><i class="fa fa-tv"></i></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/oven.png"></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/towel.png"></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/washing-machine.png" /></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/hair-dryer.png"></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/lift-sign.png"></a>
        </div>
    </div>
</div>
<hr />
<!--TARIFFE E OFFERTE SPECIALI PANEL-->
<div class="panel-group">
    <div class="panel">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-6">

                <div class="button" style="color:whitesmoke" data-toggle="collapse" href="#collapse1">Tariffe e offerte speciali</div>

            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <h2>Le Tariffe dell'Amazing Suite Vittoriano</h2>
                    <p>Convenienti tariffe e vantagiose offerte speciali</p>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Tariffe Giornaliere Vittoriano</th>
                                <th>
                                    Bassa (07 gennaio - 29 febbraio)
                                </th>
                                <th>Alta (01 marzo - 31 ottobre)</th>

                                <th>Media (01 novembre - 20 dicembre)</th>

                                <th>Alta (01 marzo - 06 gennaio)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>Pax 4</td>
                                <td>€229,00</td>
                                <td>€329,00</td>
                                <td>€249,00</td>
                                <td>€349,00</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Pax 2</td>
                                <td>€179,00</td>
                                <td>€279,00</td>
                                <td>€199,00</td>
                                <td>€299,00</td>
                            </tr>

                            <tr class="info">
                                <td>Utenze (luce,gas)</td>
                                <td>Incluse</td>
                            </tr>
                            <tr class="info">
                                <td>Manutenzione ordinaria</td>
                                <td>Inclusa</td>
                            </tr>
                            <tr class="warning">
                                <td>Deposito cauzionale</td>
                                <td>€100,00</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Servizi offerti: WiFi, Riscacldamento Aria Condizionata in tutti i locali, lavatrice, tv led, forno, asciugacapellli, toaster, kettle, frigo/freezer, 2 set chiavi, mappa città
                                    e frutta di benvenuto, baby coat, su richiesta, ascensore al piano.
                                </td>
                                <td>
                                    Colazione: su richiesta può essere servita nell'appartamento la colazione (bevanda calda, selezione di croissants, spremuta ed acqua)
                                </td>
                                <td>€10,00 a persona</td>
                            </tr>
                            <tr class="danger">
                                <td>
                                    Costi per le pulizie: comprende la pulizia e la biancheria ad ogni cambio cliente
                                    (lenzuola, asciugamani, shampoo, bagno schiuma,saponetta, cuffia per la doccia e spugna per a lucidatura delle scarpe).
                                </td>
                                <td>
                                    Pulizie Extra (Min 3 ore con cambio biancheria)
                                </td>
                                <td>€30,00</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Composizione Appartamento(62mq): Camera Matrimoniale con Bagno, Toilette, Living Room
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-6">
                        Offerta Speciale
                        <h4> ADVANCED BOOKING </h4>
                        SE PRENOTI CON <strong>45</strong> GIORNI DI ANTICIPO POTRAI USUFRUIRE DEL <strong>15%</strong> DI SCONTO!

                        SE PRENOTI CON <strong>30</strong> GIORNI DI ANTICIPO POTRAI USUFRUIRE DEL <strong>10%</strong> DI SCONTO!

                    </div>
                    <div class="col-sm-6">
                        <img src="~/img/jpg/advancedimage.jpg" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        Offerta Speciale
                        <h4> MINIMUM STAY</h4>
                        PRENOTA IL TUO SOGGIORNO PER UN MINIMO DI <strong>6 </strong>NOTTI E AVRAI IL<strong> 15%</strong> DI SCONTO!

                    </div>
                    <div class="col-sm-6">
                        <img src="~/img/jpg/minimumimage.jpg" />
                    </div>
                </div>
            </div>
            <div class="panel-footer row" style="align-content:center">
                <div class="col-sm-5"></div>
                <div class="col-sm-6"><img class="img-responsive" style="max-height:100px" src="~/img/png/logo_amazingsuiterome.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />
<!-- IL GRUPPO DESCRIZIONE E SERVIZI MODALE-->

<div class="row wow fadeIn ilgruppo">
    <div class="col-sm-push-1 col-sm-10">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="row wow fadeIn">
    <div class="col-sm-push-1 col-sm-10">
        <div class="col-md-6 col-sm-6">
            <div class="col-sm-12 struttura">
                <h4 id="annuncio">AMAZING SUITE NAVONA</h4>
                <div>
                    Siamo lieti di accogliervi presso Amazing Suite Navona, a pochi metri a piedi dalla famosa Piazza Navona, Pantheon e si affaccia su Campo de 'Fiori il più antico mercato di Roma.
                    E' un piacere informarvi sui servizi attualmente attivi che stiamo fornendo al fine di rendere il vostro soggiorno indimenticabile: La prima colazione continentale a buffet inclusa nel vostro soggiorno servita dal nostro personale, minibar, aria condizionata regolabile autonomamente,
                    riscaldamento e tv satellitare.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">

            <div class="col-sm-12 struttura">

                <div data-toggle="modal" data-target="#myModal" src="" width="250">

                    <!--<img onclick="loadPopup(14)" src="~/img/jpg/cattura.jpg" width="250">
                          <!-- Trigger the modal with a div -->
                    <div class="button">Servizi dedicati</div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />
<div class="container" style="max-height:700px">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="~/img/jpg/navona/navonaoutdoor.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">
                   
                    </a>       
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/img/jpg/navona/navonaout2.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">
                    
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/img/jpg/navona/windowoutnavona.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">
                    
                </a>
            </div>
        </div>
    <h4>
        "If you’re writing a medium or long section of text, break it up with more than one paragraph for better readability.”
        - SOMEONE ONCE SAID
    </h4>
        
        <div class="col-sm-push-4 col-sm-4">
            <img class="img-responsive" src="~/img/jpg/navona/navonavista.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">

                </a>
            </div>
        </div>
</div>
    </div>

<div class="clearfix"></div>
 <div class="panel-group">
    <div class="panel">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-6">

                <div class="button" style="color:whitesmoke" data-toggle="collapse" href="#collapse2">Video</div>

            </div>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <h2>Splendidi Video di splendidi appartamenti</h2>
                   

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E4tz68hyT8s" frameborder="0" allowfullscreen></iframe>


                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E4tz68hyT8s" frameborder="0" allowfullscreen></iframe>


                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E4tz68hyT8s" frameborder="0" allowfullscreen></iframe>


                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E4tz68hyT8s" frameborder="0" allowfullscreen></iframe>


                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
            <div class="panel-footer row" style="align-content:center">
                <div class="col-sm-5"></div>
                <div class="col-sm-6"><img class="img-responsive" style="max-height:100px" src="~/img/png/logo_amazingsuiterome.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />

<!-- Jquery ui
<script src="/js/jquery-ui.min.js"></script>
-->
<!-- Mobile
<script src="/js/jquery.mobile.custom.min.js"></script>
-->

<script type="text/javascript">
  /*  $(document).ready(function () {
        $("#carousel-1").swipe({

            swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

                if (direction == 'left') $(this).carousel('next');
                if (direction == 'right') $(this).carousel('prev');

            },
            allowPageScroll: "vertical"

        });
        $("#carousel-2").swipe({

            swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

                if (direction == 'left') $(this).carousel('next');
                if (direction == 'right') $(this).carousel('prev');

            },
            allowPageScroll: "vertical"

        });
    });*/
  
   
</script>
   