<!-- SLIDESHOW -->

<div id="carousel-1" class="row carousel slide wow fadeIn" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/img/jpg/navona/navonabeds.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p></p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
                <div class="clearfix"></div>
                <br />
            </div>


        </div>

        <div class="item">
            <img src="~/img/jpg/navona/navonaangolo.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p></p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
                <div class="clearfix"></div>
                <br />
            </div>


        </div>
        <div class="item">
            <img src="/img/jpg/navona/navona-min.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p>La tua casa al centro di Roma</p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
                <div class="clearfix"></div>
                <br />
            </div>


        </div>
        <div class="item">
            <img src="/img/jpg/navona/good.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Vittoriano">
                    <h4>Amazing suite Navona</h4>
                    <p>Comfort di lusso per il tuo soggiorno</p>
                </a>                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
            </div>
        </div>
        <div class="item">
            <img src="/img/jpg/navona/navonacamera.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Colosseo">
                    <h4>Amazing Suite Navona</h4>
                    <p>a Piazza Navona</p>
                </a>                    <a href="#contatti" class="btn  button" role="button">Book Now</a>
            </div>
        </div>
        <div class="item">
            <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Vittoriano">
                    <h4>Amazing suite Navona</h4>
                    <p>Vivi tutto il fascino di Roma</p>
                </a><a href="#contatti" class="btn  button" role="button">Book Now</a>

            </div>
        </div>
        <div class="item">
            <img src="~/img/jpg/navona/foschianavona.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p></p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
                <div class="clearfix"></div>
                <br />
            </div>
        </div>
        <div class="item">
            <img src="/img/jpg/navona/navonasala.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">
                    <h4>Amazing Suite Navona</h4>
                    <p>Una sala cinema a tua disposizione...</p>
                </a>                   <a href="#contatti" class="btn  button" role="button">Book Now</a>

            </div>
        </div>

        <div class="item">
            <img src="/img/jpg/navona/navonagrandangolo.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p>Scopri tutti i servizi a te dedicati</p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
            </div>
        </div>

        <div class="item">
            <img src="/img/jpg/navona/navonabagno.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome">
                    <h4>Amazing suite Navona</h4>
                    <p>Location perfetta per scoprire Roma</p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>
            </div>
        </div>
        <div class="item">
            <img src="~/img/jpg/navona/navonabed.jpg" alt="">
            <div class="col-sm-push-1 col-sm-10">
                <a href="#" title="Amazing Suite Rome - Navona">
                    <h4>Amazing Suite Navona</h4>
                    <p></p>
                </a>
                <a href="#contatti" class="btn  button" role="button">Book Now</a>

                <br />
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
        <i class="fa fa-arrow-left"></i>

    </a>
    <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
        <i class="fa fa-arrow-right"></i>

    </a>

</div>
<hr />
<!--ICONE piccole sotto carosello-->
<div class="row wow fadeIn">
    <div class="col-sm-push-3 col-sm-10">
        <div class="col-sm-1 col-xs-1">
            <a><i class="fa fa-bed"> 7</i></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><i class="fa fa-wifi"></i></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><i class="fa fa-tv"></i></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><img src="~/img/png/oven.png"></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><img src="~/img/png/towel.png"></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><img src="~/img/png/washing-machine.png" /></a>
        </div>
        <div class="col-sm-1 col-xs-1">
            <a><img src="~/img/png/hair-dryer.png"></a>
        </div>
        <div class="col-sm-1">
            <a><img src="~/img/png/lift-sign.png"></a>
        </div>
    </div>
</div>
<hr />
<!--TARIFFE E OFFERTE SPECIALI PANEL-->
<div class="panel-group">
    <div class="panel">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-6">

                <div class="button" style="color:whitesmoke" data-toggle="collapse" href="#collapse1">Tariffe e offerte speciali</div>

            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <h2>Le Tariffe dell'Amazing Suite Vittoriano</h2>
                    <p>Convenienti tariffe e vantagiose offerte speciali</p>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Tariffe Giornaliere Vittoriano</th>
                                <th>
                                    Bassa (07 gennaio - 29 febbraio)
                                </th>
                                <th>Alta (01 marzo - 31 ottobre)</th>

                                <th>Media (01 novembre - 20 dicembre)</th>

                                <th>Alta (01 marzo - 06 gennaio)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>Pax 4</td>
                                <td>€229,00</td>
                                <td>€329,00</td>
                                <td>€249,00</td>
                                <td>€349,00</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Pax 2</td>
                                <td>€179,00</td>
                                <td>€279,00</td>
                                <td>€199,00</td>
                                <td>€299,00</td>
                            </tr>

                            <tr class="info">
                                <td>Utenze (luce,gas)</td>
                                <td>Incluse</td>
                            </tr>
                            <tr class="info">
                                <td>Manutenzione ordinaria</td>
                                <td>Inclusa</td>
                            </tr>
                            <tr class="warning">
                                <td>Deposito cauzionale</td>
                                <td>€100,00</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Servizi offerti: WiFi, Riscacldamento Aria Condizionata in tutti i locali, lavatrice, tv led, forno, asciugacapellli, toaster, kettle, frigo/freezer, 2 set chiavi, mappa città
                                    e frutta di benvenuto, baby coat, su richiesta, ascensore al piano.
                                </td>
                                <td>
                                    Colazione: su richiesta può essere servita nell'appartamento la colazione (bevanda calda, selezione di croissants, spremuta ed acqua)
                                </td>
                                <td>€10,00 a persona</td>
                            </tr>
                            <tr class="danger">
                                <td>
                                    Costi per le pulizie: comprende la pulizia e la biancheria ad ogni cambio cliente
                                    (lenzuola, asciugamani, shampoo, bagno schiuma,saponetta, cuffia per la doccia e spugna per a lucidatura delle scarpe).
                                </td>
                                <td>
                                    Pulizie Extra (Min 3 ore con cambio biancheria)
                                </td>
                                <td>€30,00</td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Composizione Appartamento(62mq): Camera Matrimoniale con Bagno, Toilette, Living Room
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-sm-6">
                        Offerta Speciale
                        <h4> ADVANCED BOOKING </h4>
                        SE PRENOTI CON <strong>45</strong> GIORNI DI ANTICIPO POTRAI USUFRUIRE DEL <strong>15%</strong> DI SCONTO!

                        SE PRENOTI CON <strong>30</strong> GIORNI DI ANTICIPO POTRAI USUFRUIRE DEL <strong>10%</strong> DI SCONTO!

                    </div>
                    <div class="col-sm-6">
                        <img src="~/img/jpg/advancedimage.jpg" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        Offerta Speciale
                        <h4> MINIMUM STAY</h4>
                        PRENOTA IL TUO SOGGIORNO PER UN MINIMO DI <strong>6 </strong>NOTTI E AVRAI IL<strong> 15%</strong> DI SCONTO!

                    </div>
                    <div class="col-sm-6">
                        <img src="~/img/jpg/minimumimage.jpg" />
                    </div>
                </div>
            </div>
            <div class="panel-footer row" style="align-content:center">
                <div class="col-sm-5"></div>
                <div class="col-sm-6"><img class="img-responsive" style="max-height:100px" src="~/img/png/logo_amazingsuiterome.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />
<!-- IL GRUPPO DESCRIZIONE E SERVIZI MODALE-->

<div class="row wow fadeIn ilgruppo">
    <div class="col-sm-push-1 col-sm-10">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="row wow fadeIn">
    <div class="col-sm-push-1 col-sm-10">
        <div class="col-md-6 col-sm-6">
            <div class="col-sm-12 struttura">
                <h4 id="annuncio">AMAZING SUITE NAVONA</h4>
                <div>
                    Siamo lieti di accogliervi presso Amazing Suite Navona, a pochi metri a piedi dalla famosa Piazza Navona, Pantheon e si affaccia su Campo de 'Fiori il più antico mercato di Roma.
                    E' un piacere informarvi sui servizi attualmente attivi che stiamo fornendo al fine di rendere il vostro soggiorno indimenticabile: La prima colazione continentale a buffet inclusa nel vostro soggiorno servita dal nostro personale, minibar, aria condizionata regolabile autonomamente,
                    riscaldamento e tv satellitare.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">

            <div class="col-sm-12 struttura">



                <!--<img onclick="loadPopup(14)" src="~/img/jpg/cattura.jpg" width="250">
                      <!-- Trigger the modal with a div -->
                <button class="button" data-toggle="modal" data-target="#myModal">Servizi dedicati</button>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />
<div class="panel-group">
    <div class="panel">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-6">

                <button class="button" style="color:whitesmoke" data-toggle="collapse" href="#collapse3">Roma Outdoor</button>

            </div>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body" style="HEIGHT:700px;background-image:url(/img/jpg/navona/windowoutnavona.jpg)">

               
                        <h4>
                            "If you’re writing a medium or long section of text, break it up with more than one paragraph for better readability.”
                            - SOMEONE ONCE SAID
                        </h4>

                        
                    </div>



                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
            <div class="panel-footer row" style="align-content:center">
                <div class="col-sm-5"></div>
                <div class="col-sm-6"><img class="img-responsive" style="max-height:100px" src="~/img/png/logo_amazingsuiterome.png" /></div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<hr />
<div class="panel-group">
    <div class="panel">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-6">

                <div class="button" style="color:whitesmoke" data-toggle="collapse" href="#collapse2">Video Gallery</div>

            </div>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container">
                    <h2>Splendidi Video di splendidi appartamenti</h2>


                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KBUlz9dFd0k" frameborder="0" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vBngFWjkJbc" frameborder="0" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vBngFWjkJbc" frameborder="0" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KBUlz9dFd0k" frameborder="0" allowfullscreen></iframe>
            


                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
            <div class="panel-footer row" style="align-content:center">
                <div class="col-sm-5"></div>
                <div class="col-sm-6"><img class="img-responsive" style="max-height:100px" src="~/img/png/logo_amazingsuiterome.png" /></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr />

<!-- Jquery ui
<script src="/js/jquery-ui.min.js"></script>
-->
<!-- Mobile
<script src="/js/jquery.mobile.custom.min.js"></script>
-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Servizi Dedicati</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="http://amazingsuiterome.weebly.com/uploads/4/4/1/2/44127463/support_orig.jpg" />
                    </div>

                    <div class="col-md-6">
                        <h4>Round-the-clock support</h4><p>
                            ​We offer a 24-hour concierge service,
                            ​always available to handle your guests’ questions and requests, making their stay (and your life) much easier.
                        </p>
                    </div>

                </div>
                <div class="clearfix"></div>
               
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="http://amazingsuiterome.weebly.com/uploads/4/4/1/2/44127463/published/carrental2.jpg?1484160544" />
                    </div>

                    <div class="col-md-6">
                        <h4>
                            ​​​Car Rental
                        </h4><p>
                            We have partnered with leading local rental car companies that have given us access to their vehicles. We can have these vehicles
                            ready for you on arrival. Just let us know before you arrive and we can have this all arranged.
                        </p>
                    </div>

       
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="http://amazingsuiterome.weebly.com/uploads/4/4/1/2/44127463/published/chef2.jpg?1484160665" />
                    </div>

                    <div class="col-md-6">
                        <h4>
                            We can even organise a personal chef
                        </h4><p>
    Amazing Suite has access to leading chefs and we are proud to offer a personal chef service that
    helps you create bespoke private dining
    ​experiences in your own home.
</p>                    </div>

                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="http://amazingsuiterome.weebly.com/uploads/4/4/1/2/44127463/published/airport.jpg?1484160716" />
                    </div>

                    <div class="col-md-6">
                        <h4>
                            Airport pickup

                        </h4><p>
                                 If your guests need a driver to pick them up
                                 from the airport and safely get them to their abode.
                                 ​We can do that too.
                        </p>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img class="img-responsive" src="http://amazingsuiterome.weebly.com/uploads/4/4/1/2/44127463/published/storage.jpg?1484160499     />
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <h4>  Storage solutions</h4><p>

                            ​We can store your home personals in a safe storage vault so you never have to worry about your favorite things getting damaged.
                            We also offer this service for traveling
                            ​guests with too much luggage.
                        </p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    /*  $(document).ready(function () {
          $("#carousel-1").swipe({

              swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

                  if (direction == 'left') $(this).carousel('next');
                  if (direction == 'right') $(this).carousel('prev');

              },
              allowPageScroll: "vertical"

          });
          $("#carousel-2").swipe({

              swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

                  if (direction == 'left') $(this).carousel('next');
                  if (direction == 'right') $(this).carousel('prev');

              },
              allowPageScroll: "vertical"

          });
      });
      
      
      
      
      
Amazing Suite Vittoriano
Servizi

Concierge
Il concierge desk è il punto informativo per ogni nostro ospite disponibile 24 ore su 24. Il nostro team è a vostra disposizione per esaudire tutti i vostri desideri. La principale funzione è l'organizzazione dei transfer, biglietti per musei ed eventi, tour, suggerimenti di ristoranti e tutti i consigli per vivere una vacanza unica.

SERVIZI DA PRENOTARE

Babysitting: personale multilingue a disposizione (3 ore) € 120,00

Transfer: I servizi transfer sono svolti da autisti professionali con Mercedes
From/to Airport: Mercedes Serie E 55,00 (1/3 persone) – Mercedes Viano 70,00 (4/7 persone)
From/to Civitavecchia port: Mercedes Serie E 150,00 (1/3 persone) – Mercedes Viano/ Vito 180,00 (4/8 persone)

Cooking day: abbiamo a disposizione dei nostri clienti la possibilità di preparare, insieme alla Signora Loredana, i tipici piatti della cucina romana, nonchè italiana. Cooking day E 70,00 a persona

Chef service: abbiamo a disposizione dei nostri client la possibilità di personalizzare una cena intima, preparata dal nostro chef con I migliori prodotti della cultura enogastronomica italiana. Chef service 300,00 per 3 ore.

Rental e-bike: offriamo il servizio di noleggio di electric-bike con pick up a casa per accedere facilmente ai posti più belli della città.
Rental e-bike 30,00 al gg a bike

Vatican tour (3ore): organizziamo tour per i musei vaticani, cappella sistina e basilica di s.pietro con gruppi di massimo 10 persone ed entrata prioritaria e guida multilingue
Vatican tour group con guida : 59,00 euro a persona – orari partenza tutti i giorni alle 11,00 o alle 15,00 (domenica escluso)

Colosseo e Fori Imperiali tour (3ore): organizziamo tour per visitare l'Antica Roma, Colosseo e Palatino con gruppi di massimo 10 persone ed entrata prioritaria e guida multilingue
Ancient Rome tour group con guida : 50,00 euro a persona – orari partenza tutti i giorni alle 8,30 o alle 17,00

Galleria borghese tour (2ore): organizziamo tour per visitare l'Antica Roma, Colosseo e Palatino con gruppi di massimo 10 persone ed entrata prioritaria e guida multilingue
Galleria Borghese con guida : 50,00 euro a persona – orari partenza tutti i giorni alle ore 15,00

Personal shopper

Parking a disposizione abbiamo parcheggi convenzionati al costo di 20,00 euro al giorno
Trastevere parking
Colosseo parking

Private Sightseeing tour offriamo la possibilità di fare un giro panoramico della citta con l'autista a disposizione e pck up da casa. Il costo è di 25,00 euro a persona (minimo 4 persone)

Dog-sitting vi lasciamo liberi di vivere la città e noi pensiamo al vostro animale da compagnia

Personal trainer tour offriamo la possibilità di una seduta di allenamento con personal trainer al Circo Massimo o al Colle Oppio. Il costo è di euro 25,00 euro a persona (minimo 3 persone).

Ristoranti vi suggeriamo tra i migliori ristoranti tipici romani da "provare"
Ripa 12 Trastevere ristorante di pesce
Taverna Trilussa Trastevere cucina romana
Cleto – Colosseo cucina romana
Il tempio di Iside – Colosseo ristorante di pesce


 <div class="container">
                    <h2>Le viste dell'appartamento</h2>

                    <div class="row">
                        <div class="col-sm-4">
                            <img class="img-responsive" src="~/img/jpg/navona/navonaoutdoor.jpg" alt="">
                            <div class="col-sm-push-1 col-sm-10">
                                <a href="#" title="Amazing Suite Rome">

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-responsive" src="~/img/jpg/navona/navonaout2.jpg" alt="">
                            <div class="col-sm-push-1 col-sm-10">
                                <a href="#" title="Amazing Suite Rome">

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-responsive" src="~/img/jpg/navona/windowoutnavona.jpg" alt="">
                            <div class="col-sm-push-1 col-sm-10">
                                <a href="#" title="Amazing Suite Rome">

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-push-4 col-sm-4">
                            <img class="img-responsive" src="~/img/jpg/navona/navonavista.jpg" alt="">
                            <div class="col-sm-push-1 col-sm-10">
                                <a href="#" title="Amazing Suite Rome">

                                </a>
                            </div>
                        </div>
      */


</script>
